body1 {
    font-family: Arial, sans-serif;
    background-color:  red;
}

.tabla {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.fila {
    display: flex;
}

.celda {
    flex: 1;
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

.encabezado {
    background-color: yellow;
    font-weight: bold;
}






@media screen and (max-width: 1680px) {

    body,
    input {
        font-size: 14pt;
    }
}

@media screen and (max-width: 1280px) {

    body,
    input {
        font-size: 12pt;
    }
}

@media screen and (max-width: 360px) {

    body,
    input {
        font-size: 11pt;
    }
}




.loader {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    opacity: 1;
    background-color: var(--bg-drk);
    backdrop-filter: blur(70px) saturate(300%) brightness(120%);
    transition: opacity 1s ease, backdrop-filter 0.8s ease,
        background-color 0.5s ease;
}

.balls {
    --ballcolor: #ffffff;
    --shadow: 50px 0 #ffffff00;
    --shadowcolor: #ffffff00;
    width: 12px;
    height: 12px;
    left: -100px;
    border-radius: 50%;
    position: relative;
    color: var(--ballcolor);
    animation: shadowRolling 1.8s ease infinite;
}

@keyframes shadowRolling {
    0% {
        box-shadow: var(--shadow), var(--shadow), var(--shadow), var(--shadow);
    }

    12% {
        box-shadow: 100px 0 var(--ballcolor), var(--shadow), var(--shadow),
            var(--shadow);
    }

    25% {
        box-shadow: 110px 0 var(--ballcolor), 100px 0 var(--ballcolor), var(--shadow),
            var(--shadow);
    }

    36% {
        box-shadow: 120px 0 var(--ballcolor), 110px 0 var(--ballcolor),
            100px 0 var(--ballcolor), var(--shadow);
    }

    50% {
        box-shadow: 130px 0 var(--ballcolor), 120px 0 var(--ballcolor),
            110px 0 var(--ballcolor), 100px 0 var(--ballcolor);
    }

    62% {
        box-shadow: 200px 0 var(--shadowcolor), 130px 0 var(--ballcolor),
            120px 0 var(--ballcolor), 110px 0 var(--ballcolor);
    }

    75% {
        box-shadow: 200px 0 var(--shadowcolor), 200px 0 var(--shadowcolor),
            130px 0 var(--ballcolor), 120px 0 var(--ballcolor);
    }

    87% {
        box-shadow: 200px 0 var(--shadowcolor), 200px 0 var(--shadowcolor),
            200px 0 var(--shadowcolor), 130px 0 var(--ballcolor);
    }

    100% {
        box-shadow: 200px 0 var(--shadowcolor), 200px 0 var(--shadowcolor),
            200px 0 var(--shadowcolor), 200px 0 var(--shadowcolor);
    }
}





h1 {
    font-family: manrope, sans-serif;
    font-weight: 700;
    font-size: clamp(3.8rem, 8vw - 1rem, 5.5rem);
    letter-spacing: -0.3rem;
    line-height: 1;
    color: var(--heading);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}

h2 {
    font-size: clamp(1rem, 3vw - 12pt, 1.2rem);
    font-family: "Manrope", san-serif;
    letter-spacing: 0.3ch;
    text-transform: uppercase;
    color: var(--heading);
}

p {
    font-size: 1em;
    font-family: "Manrope", san-serif;
    font-weight: 400;
}

.info {
    text-align: center;
    color: var(--heading);
    width: 65vw;
    background-color: hsla(0, 0%, 4%, 1);
    margin-top: 4rem;
    margin-bottom: 4rem;
    margin-left: auto;
    margin-right: auto;
    padding: 2em;
    border-radius: 1em;
    border: 1px solid var(--bg-lt);
}

.subheading {
    text-align: center;
    color: var(--subheading);
}

.title {
    margin-top: 35dvh;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (max-width: 768px) {
    .title h1 {
        display: none;
    }

    h2.subheading {
        font-weight: 600;
        text-align: left;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding-left: 1.4em;
        padding-right: 1.4em;
    }
}

h1>.magic {
    display: inline-block;
    position: relative;
}

h1>.magic>.magic-star {
    --size: clamp(20px, 1.5vw, 30px);
    animation: scale 0.9s ease forwards;
    display: block;
    height: var(--size);
    left: var(--star-left);
    position: absolute;
    top: var(--star-top);
    width: var(--size);
}

h1>.magic>.magic-star>svg {
    animation: rotate 3s linear infinite;
    display: block;
    opacity: 1;
}

h1>.magic>.magic-star>svg>path {
    fill: var(--pink);
}

h1>.magic>.magic-text {
    animation: background-pan 10s linear infinite;
    background: linear-gradient(to right,
            var(--purple),
            var(--denim-lt),
            var(--indigo),
            var(--pink),
            var(--purple));
    background-size: 500%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    white-space: nowrap;
}

@keyframes background-pan {
    from {
        background-position: 0 center;
    }

    to {
        background-position: -500% center;
    }
}

@keyframes scale {

    from,
    to {
        transform: scale(0);
    }

    50% {
        transform: scale(1);
    }
}

@keyframes rotate {
    from {
        transform: rotate(0);
    }

    to {
        transform: rotate(180deg);
    }
}

@keyframes fade {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

li {
    list-style: none;
    margin: 0;
    padding-left: 1em;
    color: #abacb3;
}

i {
    font-size: 2rem;
    line-height: 1;
    margin-left: 1em;
    margin-right: 1em;
}

a {
    font-family: Jakarta;
    font-weight: 600;
    font-size: 1.2em;
    text-decoration: none;
    color: #b5b6bb;
}

a:hover {
    color: #e4e4e4;
    transition: color ease-in-out 0.3s;
    text-shadow: rgba(188, 105, 255, 0.2) 0 0 6px;
}

::-moz-selection {
    color: #fff;
    background: var(--tekhelet-lt);
}

::selection {
    color: #fff;
    background: var(--tekhelet-lt);
}


body::-webkit-scrollbar {
    width: var(--sb-size);
}

body::-webkit-scrollbar-track {
    background: #212126;
}

body::-webkit-scrollbar-track:active {
    background: #2a2a31;
}

body::-webkit-scrollbar-thumb {
    background: #35373f;
    border-radius: 20px;
}

body::-webkit-scrollbar-thumb:hover {
    background: #4a505e;
}

@media screen and (max-width: 768px) {
    body::-webkit-scrollbar {
        display: none;
    }
}

.brand h3 {
    font-family: inherit;
    font-size: 1rem;
    font-weight: 700;
    line-height: 1;
    letter-spacing: -1px;
    text-transform: uppercase;
    color: var(--link);
}

.brand {
    align-items: center;
    display: flex;
    justify-content: center;

    object-fit: contain;
}

@media screen and (min-width: 768px) {
    .brand h3 {
        display: none !important;
    }
}

@media screen and (max-width: 768px) {
    .brand h3 {
        display: visible !important;
    }
}


@media only screen and (min-width: 48rem) {
    .menu {
        position: relative;
        top: 0;
        left: 0;
        width: auto;
        height: auto;
        margin-left: auto;
        background: 0 0;
        box-shadow: none;
    }

    .menu-inner {
        display: flex;
        flex-direction: row;
        column-gap: 1.2rem;
        margin: 0 auto;
        margin-right: 3rem;
    }

    .menu-link {
        text-transform: capitalize;
    }

    .menu-block {
        margin-left: 2rem;
    }
}


@media only screen and (min-width: 48rem) {
    .burger {
        display: none;
        visibility: hidden;
    }
}



.search-cancel {
    display: block;
    cursor: pointer;
    font-size: 1.45rem;
    line-height: inherit;
    color: var(--link);
}

.search-block {
    position: fixed;
    top: 0;
    right: -100%;
    width: 100%;
    height: 100%;
    z-index: 1000;
    overflow: hidden;
    background-color: var(--bg-drk);
    transition: all 0.2s ease-in-out;
}

.search-form {
    display: flex;
    align-items: center;
    column-gap: 0.75rem;
    padding: 0.75rem 1rem;
}

.search-input::-webkit-search-cancel-button,
.search-input::-webkit-search-decoration {
    display: none;
    visibility: hidden;
}

.search-input:active,
.search-input:focus {
    background-color: var(--eerie-black-lt);
}

.hero {
    padding-top: 25vh;
    z-index: 2;
}



.desktop-wrapper {
    width: 90%;
    margin-top: 12vh;
    margin-left: auto;
    margin-right: auto;
    min-height: 100vh;
    box-sizing: border-box;

    overflow-x: hidden;
}

.cta-wrapper {
    display: flex;
    gap: 1em;
    justify-content: center;
    margin-top: 3em;
    margin-left: auto;
    margin-right: auto;
    flex-direction: row;
    flex-wrap: wrap;
}

.learn-more {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

@media screen and (min-width: 800px) {
    .cta-wrapper {
        padding-left: 12vw;
        padding-right: 12vw;
    }
}

@media screen and (max-width: 800px) {
    .cta-wrapper {
        padding-left: 8vw;
        padding-right: 8vw;
    }

    .learn-more {
        flex-grow: 1;
    }
}



.input {
    flex-grow: 1;
    padding: 15px 30px 15px 30px;
    color: #fff;
    border: 1px solid #2d2d31;
    border-right: transparent !important;
    border-radius: 10px 0 0 10px;
    background-color: hsla(240, 3%, 12%, 1);
}

.input:focus,
.input:focus-visible {
    border-color: #6361d4;
    outline: 0;
}

button.submit {
    outline: 0;
    border: solid 2px #454392;
    flex-grow: 1;
    padding: 15px 30px 15px 30px;
    border-radius: 0 10px 10px 0;
    cursor: pointer;
    background-color: #454392;
    transition: background-color 0.3s ease-out;
    color: #fff;
    text-decoration: none;
    line-height: normal;
    font-family: Manrope;
    font-size: 0.8em;
}

button.submit:hover {
    background-color: #5b57d1;
}

.desktop {
    object-fit: contain;
    width: 100%;
    height: 100%;
}

@media screen and (min-width: 800px) {
    ._25 {
        flex: 2.5;
    }

    ._5 {
        flex: 5;
    }
}









@media screen and (max-width: 1000px) {
    .carousel__item {
        width: calc(100vw - 10rem);
    }
}

@media screen and (max-width: 768px) {
    .carousel__item {
        width: calc(100vw - 2rem);
        padding-left: 1rem;
        padding-right: 1rem;
    }
}
















main>div {
    padding: 10rem;
    position: relative;
    top: 10rem;
}


main form {
    margin: 4rem;
}



main form>div {
    margin: 1rem;
}

main form label {
    color: white;
}



