{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <!-- Agregar link para ver iconos en redes sociales de fontawesome -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" crossorigin="anonymous">

  <title>Cervecería CreArte</title>
</head>

<body>
  <header>
    
  </header>

  <main>
    <div>
      <h2>Stores</h2>
      <h2><a href="{% url 'store:create' %}">Crear un store</a></h2>
            
      {% for store in store_list %} 
        <fieldset> 
          <legend>Nombre: {{store.nombre}}</legend>

          <div class="tabla">
            <div class="fila encabezado">
              <div class="celda">estilo : {{store.estilo}}</div>
              <div class="celda">precio : {{store.precio}}</div>
              <div class="celda">cantidad_disponible : {{store.cantidad_disponible}}</div>
              <div class="celda">Fecha de alta : {{store.fecha_habilitacion}}</div>
            </div>
          </div>

          <div class="tabla">
            <div class="fila encabezado">
              <div class="celda">
                <label for="">Detalles: </label>
                <a href="{% url 'store:detail' store.id  %}">🟢</a>
              </div>
              <div class="celda"> 
                <label for="">Borrar: </label>
                <a href="{% url 'store:delete' store.id %}">❌</a>
              </div>
              <div class="celda">
                <label for="">Editar: </label>
                <a href="{% url 'store:update' store.id %}">📋</a>
              </div>
            </div>
          </div>
        </fieldset>
      {% endfor %}    
    </div>
  </main>
</body>

</html>
